/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    flex-wrap: wrap;
    margin-left: 44vw;

}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {

    margin-left: 40px
}

nav li:first-child {
    margin-left: 0;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.sectionTitle {
    margin-bottom: 0.5rem;
}

.sectionContent {
    padding: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#goal .sectionContent {
    text-align: center;
}

#stats .sectionContent ul li {
    margin-bottom: 0.5rem;
}

/* .button-goback{
    position: relative;
    top: 25px;
    left: 10px;
    border-radius: 12px;
    border: 1px solid #525050;
    background-color: #525050;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    height: 24px;
    width: 116px;
} */

.button-foodlog,
.button-exerciselog,
.button-addstats {
    position: relative;
    top: 25px;
    left: 10px;
    border-radius: 200px;
    border: 10px solid #525050;
    background-color: #525050;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    height: 24px;
    width: 116px;
}

.button-goback{
    position: absolute;
    top: 50px;
    left: 10px;
    border-radius: 20px;
    border: 2px solid #525050;
    background-color: #525050;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: px;
    width: 150px;
    cursor: pointer;
    padding: 1px 28px;

}
