
/*  done by muhammad Haleem*/
body {
    background-color: #525050;
    font-family: 'Inter', sans-serif;
}
h1{
    
position: absolute;
width: 314px;
height: 3%;
left: 2%;
top: 10%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
letter-spacing: 0.15em;

color: #FFFFFF;
}
.buttonLinks{
    position: absolute;
    background: #3A2D2D;
    border-radius: 35px;
    height: 54px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    
}
.linkText {
    background-color: #3A2D2D;
    color: white;
    border: none;
    border-radius: 35px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
#foodLog{
width: 191px;
left: 27%;
top: 13%;
}
#ExerciseLog{
width: 191px;
left: 47%;
top: 13%;
}
  
#report{
width: 314px;
left: 67%;
top: 13%;
}
#horizentalLine{
position: absolute;
width: 1440.03px;
height: 0px;
left: 0px;
top: 25%;

border: 4px solid #000000;
transform: rotate(-0.36deg);
}
#vertileLine{
position: absolute;
width: 881px;
height: 0px;
left: 10%;
bottom: -2%;
border: 4px solid #000000;
transform: rotate(90deg);
}
#statDiv{
position: absolute;
width: 40%;
height: 100%;
left: 0%;
top: 50%;
background-color: #525050;
text-align: left;
color: #FFFFFF;

}
.Features{
    position: absolute;
    width: 113px;
    height: 42px;
    top: 193px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.15em;
    
    color: #FFFFFF;
}
#stats{
left: 110px;

}

.featureLine{
position: absolute;
width: 230px;
height: 0px;
left: 0px;
top: 44%;

border: 4px solid #000000;
transform: rotate(-0.36deg);

}

#statsLine{

left: 0px;
}
#goal{
    left: 55%;
}
#summary{
    left: 75%;
}
#featurePara{
    left: 49%;
    top: 215px;
    position: absolute;
    width: 250px;
    height: 48px;
    /* left: 469px; */
    top: 289px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15em;
    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

#goalLine{
    left: 50%;
}

#summaryLine{
    left: 74%;
    width: 269px;
}





