body{
    background-color:#141414;
}
#paragrapgh
{
    position: absolute;
    width: 396px;
    height: 66px;
    left: 27%;
    top: 4%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;
}
#paragrapgh2
{
    position: absolute;
    width: 1010px;
    height: 48px;
    left: 25%;
    top: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}
#loginButton {
    box-sizing: border-box;
    position: absolute;
    width: 138px;
    height: 85px;
    left: 45%;
    top: 65%;
    color:white;
    background: #525050;
    border: 1px solid #000000;
    border-radius: 38px;
}
#signUpButton {
    box-sizing: border-box;
    position: absolute;
    width: 138px;
    height: 85px;
    left: 45%;
    top: 45%;
    color:white;
    background: #525050;
    border: 1px solid #000000;
    border-radius: 38px;
}
.login, .signup {
    color: white;
  }
#logo{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 5%;
    top: 5%;
}
